body{
  font-family: var(--font-main);
  margin: 0;
  background-color: var(--color-bg);
}

.hero{
  background-color: var(--color-primary);
  padding: 40px 0 56px 0;
  margin: 0;
}

.hero-home{
  margin: 0;
}

.title{
  font-size: 32px;
  margin: 0 16vw;
  color: var(--color-white);
}

.accent{
  background-color: var(--color-accent);
  height: 16px;
  width: 240px;
  margin: -2px 16vw 0 16vw;
}

.content{
  margin: 56px 16vw 0 16vw;
}

.home-content{
  margin: 56px 0 0 0;
}
