.card-hover {
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 400px;
  background: linear-gradient(to top, var(--color-primary) 60%, transparent 100%);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s;
  background-size: cover;
  background-position: center;
}

.card-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 24px 8px 24px;
  color: var(--color-white);
  background: linear-gradient(to top, var(--color-primary) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
  transition: background 0.3s, padding 0.3s;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 54px 0 24px 0;
  padding-bottom: 0;
}

.card-desc,
.card-btn {
  opacity: 0;
  max-height: 0;
  margin: 0;
  pointer-events: none;
  transition: opacity 0.3s, max-height 0.3s, margin 0.3s;
}

.card-btn{
  background-color: var(--color-accent);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  color: var(--color-black);
}

.card-hover:hover .card-content {
  background: linear-gradient(to top, var(--color-primary) 30%, transparent 100%);
  padding-bottom: 40px;
}

.card-hover:hover .card-title {
  margin-bottom: 0;
}

.card-hover:hover .card-desc {
  opacity: 1;
  max-height: 100px;
  margin-top: 8px;
}

.card-hover:hover .card-btn {
  opacity: 1;
  max-height: 100px;
  margin-top: 16px;
  pointer-events: auto;
}

@media (max-width: 560px){
  .card-content{
    background: linear-gradient(to top, var(--color-primary) 30%, transparent 100%);
    padding-bottom: 40px;
  }

  .card-title {
  margin-bottom: 0;
  }

  .card-desc {
    opacity: 1;
    max-height: 100px;
    margin-top: 8px;
  }

  .card-btn {
    opacity: 1;
    max-height: 100px;
    margin-top: 16px;
    pointer-events: auto;
  }
}