footer {
    background: var(--color-primary);
    color: var(--color-white);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    margin-bottom: 20px;
    padding: 40px var(--marginside) 0;
}

.footer-section h1 {
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}


.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    color: var(--color-white);
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons a {
    display: inline-block;
    margin-right: 12px;
    font-size: 22px;
    color: var(--color-white);
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: var(--color-black);
    transform: scale(1.2);
}

/* Bottom Footer */
.footer-bottom {
    background: var(--color-black);
    text-align: center;
    padding: 12px;
    font-size: 13px;
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.contact-item i {
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    flex-shrink: 0;
}

.contact-item a,
.contact-item span {
    color: #fff;
    text-decoration: none;
    line-height: 1.4;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-item.address{
  align-items: flex-start;
}