.event-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom */
  gap: 20px;
  margin-bottom: 56px;
}

@media (max-width: 1024px) {
  .event-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .event-container {
    grid-template-columns: 1fr;
  }
}