.menu-container {
    background-color: var(--color-accent); 
    width: 160px;
    text-align: center;
    margin: 16px
}

.ricebox-container {
    background-color: var(--color-accent); 
    width: 180px;
    text-align: center;
    margin: 16px
}

.gabungan-container {
    background-color: var(--color-accent); 
    width: 220px;
    text-align: center;
    margin: 16px
}