.accent-content{
    background-color: var(--color-accent);
    height: 20px;
    width: 20vw;
    margin: -18px 0 0 16px;
}

.title-text {
    font-size: 24px;
}

@media (max-width: 600px) {
    .title-container {
    flex-basis: 100%; 
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .title-container {
    flex-basis: calc(50% - 32px);
    }
}
